<!DOCTYPE html>
<html lang="en">
<head>
<title>Charts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- stylesheet -->
<link rel="stylesheet" href="../css/style.css" type="text/css"/>
<!-- javascript -->
<script src="../js/bundle.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<!-- Chartist -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"/>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<!-- HighChart -->
<script src="https://code.highcharts.com/5/js/highcharts.js"></script>
<script src="https://code.highcharts.com/5/js/modules/exporting.js"></script>
<script src="https://code.highcharts.com/5/js/modules/offline-exporting.js"></script>
<script src="../js/svg_todataurl.js"></script>
<script src="https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js"></script>

<!-- DaterangePicker -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!--moment js-->
<script src="https://cdn.jsdelivr.net/npm/moment@2.19.3/moment.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<!-- embed font -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unica+One" />

<!-- intro.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css">

<!-- DataTable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<!-- DataTable buttons and pdfmake -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/pdfmake@0.1.65/build/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/pdfmake@0.1.65/build/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">

</head>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<body onload="showChart()">

	<div class="container-fluid">
	
        <div style="display: none;">
            <table id="reportTable" style="display: none;">
                <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
   
		<div class="row nav-wrapper">
			<div class="col-md-2 col-sm-12 col-xs-12 left-menu-1">
					<a href="/dashboard"><img src="../images/logo.jpeg" class="img-fluid logo mt-3" alt="logo"></a>
				</div>
				<div class="col-md-10 col-sm-12 col-xs-12 right-menu-1 mt-3 align-self-center">
					<div class="row">
						<div class="col-md-10 col-page-title text-left pl-5">
                            <div data-intro="This show the selected room's name." data-step="1">
                                <p class="pageTitle pt-1">Room information : <span id="room_name"></span></p>
                            </div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-4">
							<p class="right-menu-icons float-right mr-4">
								<a href="#" data-placement="top" data-toggle="tooltip" title="Log Out">
									<i class="fa fa-sign-out" id="logoutBtn" onclick="onLogout()"></i>
								</a>
							</p>
							<p class="right-menu-icons float-right mr-4">
                                <a href="#" data-toggle="modal" data-target="#vaModal" title="Help">
                                    <i class="fa fa-info"></i>
                                </a>
                            </p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row main-wrapper">
				<div class="col-md-2 col-sm-12 col-xs-12 left-menu-2">
					<nav class="navbar text-center" id="myNavbar">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/dashboard">Dashboard</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/users">Users</a>
							</li>
							<li class="nav-item">
							    <a href="/rooms" class="nav-link">Rooms</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-10 col-sm-12 col-xs-12 c right-menu-2">
					<div class="chart-wrapper container-fluid">
						<div class="row container">
							<div class="col-md-3 col-xs-6 col-sm-6" id="timerange">
                                <div data-intro="You can select the time range you like." data-step="2">
                                    <i class="fa fa-clock-o"></i>&nbsp;
                                    <span id="choosenTimeRange" class="choosenRange"></span>
                                    <i class="fa fa-caret-down"></i>
                                </div>
							</div>
							<div class="col-md-3 col-xs-6 col-sm-6 ml-2" id="reportrange">
                                <div data-intro="You can select the day range you like." data-step="3">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span id="choosenRange" class="choosenRange"></span>
                                    <i class="fa fa-caret-down"></i>
                                </div>
							</div>
							<div class="col-md-3 col-xs-12 col-sm-12">
                                <div data-intro="You can click on this button to generate an insight report." data-step="5">  
								    <button type="button" class="btn btn-info" id="pdfButton" onclick="generatePDF()" disabled>Generate Report</button>
                                </div>
							</div>
							
							<script type="text/javascript">
								$(function() {
									
									var start = moment().utc();
									start.set({hour: 0, minutes: 0,second: 0, milliseconds: 0})
									start.toISOString()

									var end = moment().utc();
									end.set({hour: 23, minutes: 0,second: 0, milliseconds: 0})
									end.toISOString()

									var temp = moment().utc();

									function cb(start, end) {
											$('#timerange span').html(start.format('HH:mm') + ' - ' + end.format('HH:mm'));
									}

									$('#timerange').daterangepicker({
										timePicker: true,
										timePicker24Hour: true,
										startDate: start,
										endDate: end,
										ranges: {
											'00:00 - 23:00': [start, end],
											'08:00 - 21:00': [moment().utc().set({hour: 0, minutes: 0,second: 0, milliseconds: 0}).add(8,'hours'), moment().utc().set({hour: 23, minutes: 0,second: 0, milliseconds: 0}).subtract(2,'hours')],
											'00:00 - 12:00': [start, moment().utc().set({hour: 0, minutes: 0,second: 0, milliseconds: 0}).add(12,'hours')],
											'12:00 - 23:00': [moment().utc().set({hour: 0, minutes: 0,second: 0, milliseconds: 0}).add(12,'hours'), end]
										}
									}, cb);

									cb(start, end);
									$('.ranges li:last-child' ).hide();
								});
							</script>
							<script type="text/javascript">
									$(function() {
										
										var start = moment();
										var end = moment();

										function cb(start, end) {
												$('#reportrange span').html(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
										}

										$('#reportrange').daterangepicker({
											startDate: start,
											endDate: end,
											ranges: {
												'Today': [moment(), moment()],
												'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1,'days')],
												'Last 7 Days': [moment().subtract(6, 'days'), moment()],
												'Last 30 Days': [moment().subtract(29, 'days'), moment()],
												'Last Year': [moment().subtract(364, 'days'), moment()]
											}
										}, cb);

										cb(start, end);
									});
							</script>
						</div>
						<div class="row" id="chartAll">
							<div class="col-md-12 col-sm-12 col-xs-12">
                                <div data-intro="This is the combination chart of people, temperature and humidity." data-step="4">
                                    <div class="mt-4" id="allChart" style="width:100%;">
                                        <!-- Chart for all chart -->
                                        <div class="d-flex h-100 justify-content-center">
                                            <div class="align-self-center">
                                                <div class="spinner-border text-danger" style="width:3rem; height:3rem;">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
							
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="img-thumbnail" id="peopleChart" style="width:100%; display: none;">
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="img-thumbnail" id="temperatureChart" style="width:100%; display: none;">
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="img-thumbnail" id="humidityChart" style="width:100%; display: none;">
								</div>
							</div>
						</div>
					</div>
		
				</div>
			</div>
			
			    
    <!-- Virtual assistance modal -->
	<div class="modal fade" id="vaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <img id="va-image" src="../images/va.png" alt="Virtual assistance">
            <div class="modal-content">
                <div id="va-intro-container" class="modal-body py-4 px-4">
                    <h5 class="text-justify va-intro">Hi! It's me, Jahni.Do you want me to give you a tour for the chart page?</h5>
                </div>
                <div id="va-primary-footer" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onDismissChartTour()">No, thanks</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="beginChartWebTour()">Yes, sure</button>
                </div>
            </div>
		</div>
	</div>
  
    <!-- Virtual assistance deny modal -->
	<div class="modal fade" id="vaChartModal-deny" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <img id="va-image" src="../images/va.png" alt="Virtual assistance">
            <div class="modal-content">
                <div id="va-conclude-container" class="modal-body py-4 px-4">
                    <h5 class="text-justify va-intro">Alright! You can always find me on ' <i class="fa fa-info"></i> ' at the top anytime if you need help.</h5>
                </div>
                <div id="va-secondary-footer" class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Complete tour modal -->
	<div class="modal fade" id="completeChartTourModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <img id="va-image" src="../images/va.png" alt="Virtual assistance">
            <div class="modal-content">
                <div id="va-intro-container" class="modal-body py-4 px-4">
                    <h5 class="text-justify va-intro">That's it! You can always find me on ' <i class="fa fa-info"></i> ' at the top anytime if you need help.</h5>
                </div>
                <div id="va-secondary-footer" class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
        
    </div>
		</div>
		
        <!-- intro.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js"></script>
         
        <script src="../js/script.js" type="text/javascript"></script>
	</body>
</html>
