<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="../public/css/style.css" type="text/css"/>
	
	<!-- embed font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
  <div class="container-fluid">
    <div class="row nav-wrapper">
      <div class="col-md-2 col-sm-12 col-xs-12 left-menu-1">
        <a href="dashboard.html"><img src="https://www.swinburne.edu.au/content/dam/media/brand/swin-logo-h-RGB.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg" class="img-fluid logo" alt="logo"></a>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 right-menu-1">
				<div class="row">
					<div class="col-md-2 col-page-title">
						<p class="pageTitle">Dashboard</p>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9">
						<input type="text" id="search" class="form-control searchRoom" placeholder="Search for room here...">
					</div>
					<div class="col-md-1 col-sm-1 col-xs-1">
						<p class="right-menu-icons">
							<a href="#"><span class="fa fa-bell"></span></a><a href="#"><span class="fa fa-sign-out"></span></a>
						</p>
					</div>
				</div>
      </div>
    </div>
		
    <div class="row main-wrapper">
      <div class="col-md-2 col-sm-12 col-xs-12 left-menu-2">
        <nav class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="dashboard.html" class="active">Dashboard</a></li>
            <li><a href="report.html">View</a></li>
            <li><a href="user.html">Users</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 c right-menu-2">
				<div class="container content-wrapper">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="thumbnail">
								<h4>Computer Lab</h4>
								<p>Number of People: 1</p>
								<p>Temperature: 25oC</p>
								<p>Humidity: 70%</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="thumbnail">
								<h4>24 hours Study Area</h4>
								<p>Number of People: 4</p>
								<p>Temperature: 27oC</p>
								<p>Humidity: 75%</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="thumbnail">
								<h4>Leisure Area</h4>
								<p>Number of People: 2</p>
								<p>Temperature: 23oC</p>
								<p>Humidity: 66%</p>
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="thumbnail">
								<h4>BYOD Lab</h4>
								<p>Number of People: 8</p>
								<p>Temperature: 20oC</p>
								<p>Humidity: 80%</p>
							</div>
						</div>
					</div>
				</div>
    	</div>
		</div>
  </div>
</body>

</html>