<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/style.css" type="text/css"/>

	<script src="/socket.io/socket.io.js"></script>	

	<!-- embed font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	<!-- tooltipster -->
	<link rel="stylesheet" type="text/css" href="tooltipster-master/dist/css/tooltipster.bundle.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="tooltipster-master/dist/js/tooltipster.bundle.min.js"></script>

	<!-- Chart.js -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body onload="showDashboard()">
  <div class="container-fluid">
    <div class="row nav-wrapper">
      <div class="col-md-2 col-sm-12 col-xs-12 left-menu-1">
        <a href="dashboard.html"><img src="images/logo.jpeg" class="img-fluid logo mt-3" alt="logo"></a>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 right-menu-1">
				<div class="row">
					<div class="col-md-2 col-page-title">
						<p class="pageTitle">Dashboard</p>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-8">
						<input type="text" id="search" class="form-control searchRoom" placeholder="Search for room here..." onkeyup="searchRoom()">
					</div>
					<div class="col-md-2 col-sm-4 col-xs-4">
						<p class="right-menu-icons">
							<a href="#" data-toggle="tooltip" data-placement="left" title="Notication"><i class="fa fa-bell"  data-toggle="modal" data-target="#exampleModalLong"><sup id="notificationAlert"><span class="badge badge-pill badge-danger" id="notificationNum">0</span></sup></i></a>
							<a href="#" data-placement="top" data-toggle="tooltip" title="Log Out"><i class="fa fa-sign-out" id="logoutBtn" onclick="onLogout()"></i></a>
						</p>
					</div>
				</div>
      </div>
		</div>
		
    <div class="row main-wrapper">
      <div class="col-md-2 col-sm-12 col-xs-12 left-menu-2">
        <nav class="navbar text-center" id="myNavbar">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active disabled">Dashboard</a></li>
            <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
          </ul>
        </nav>
	  	</div>
			<div class="col-md-10 col-sm-12 col-xs-12 c right-menu-2">

				<div class="row mt-3 mb-4">
						<div class="scrolling-wrapper">
							<div class="col-md-12">
								<div class="roomCard card mr-4 border-0 shadow-sm py-4 mb-4 bg-white rounded" style="width: 24rem;">
									<div class="card-body pt-2 text-center">
										<h4 class="card-title mb-4">BYOD</h4>
										<h6>Number of people: 0</h6>
										<h6>Temperature: 0</h6>
										<h6>Humidity: 0</h6>
									</div>
								</div>

								<div class="roomCard card mr-4 border-0 shadow-sm py-4 mb-4 bg-white rounded" style="width: 24rem;">
									<div class="card-body pt-2 text-center">
										<h4 class="card-title mb-4">Leisure Area</h4>
										<h6>Number of people: 0</h6>
										<h6>Temperature: 0</h6>
										<h6>Humidity: 0</h6>
									</div>
								</div>

								<div class="roomCard card mr-4 border-0 shadow-sm py-4 mb-4 bg-white rounded" style="width: 24rem;">
									<div class="card-body pt-2 text-center">
										<h4 class="card-title mb-4">Open Lab</h4>
										<h6>Number of people: 0</h6>
										<h6>Temperature: 0</h6>
										<h6>Humidity: 0</h6>
									</div>
								</div>

								<div class="roomCard card mr-4 border-0 shadow-sm py-4 mb-4 bg-white rounded" style="width: 24rem;">
									<div class="card-body pt-2 text-center">
										<h4 class="card-title mb-4">24-hours study area</h4>
										<h6>Number of people: 0</h6>
										<h6>Temperature: 0</h6>
										<h6>Humidity: 0</h6>
									</div>
								</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<div id="insightItem" class="card mx-auto border-0 shadow-sm p-2 mb-4 bg-white rounded" style="width: 24rem;">
									<div class="card-body pt-2">
										<h6 class="card-title mb-4" style="display: inline-block">Today's insights</h6>
										<div class="dropdown float-right">
												<a class="btn btn-sm dropdown-toggle pt-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													BYOD
												</a>
											
												<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
													<a class="dropdown-item" href="#">BYOD</a>
													<a class="dropdown-item" href="#">Leisure Area</a>
												</div>
											</div>
										<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
												<div class="carousel-inner">
													<div class="carousel-item active pt-2">
														<h5 class="text-center">Highest no. of people</h5>
														<p class="text-center"> 2:00pm - 30 people</p>
													</div>
													<div class="carousel-item  pt-2">
														<h5 class="text-center">Highest temperature</h5>
														<p class="text-center">5:00pm - 29°C</p>
													</div>
													<div class="carousel-item pt-2">
														<h5 class="text-center">Lowest temperature</h5>
														<p  class="text-center">4:00am - 22.5°C</p>
													</div>
													<div class="carousel-item pt-2">
														<h5 class="text-center">Highest humidity</h5>
														<p class="text-center">11:00pm - 75RH</p>
													</div>
													<div class="carousel-item pt-2">
														<h5 class="text-center">Lowest humidity</h5>
														<p class="text-center"> 1:00pm - 58RH</p>
													</div>
												</div>
												<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
													<span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
													<span class="sr-only">Previous</span>
												</a>
												<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
													<span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
													<span class="sr-only">Next</span>
												</a>
											</div>
									</div>
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div id="noticeItem" class="card mx-auto border-0 shadow-sm p-2 mb-4 bg-white rounded" style="width: 24rem;">
									<div class="card-body pt-2">
										<h6 class="card-title mb-4 border-bottom pb-3"><i class="fa fa-bell mr-1"></i>Notification<span class="badge badge-pill badge-danger ml-2" id="noticeNum">3</span><a id="clearNotice" class="float-right">Clear all</a></h6>
										<p>BYOD has reached <strong>maximum</strong> capacity
											<button type="button" class="close closeBtn" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</p>
										<p>Leisure Area has reached <strong>full</strong> capacity
											<button type="button" class="close closeBtn" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</p>
										<p>Open Lab has dropped to <strong>low</strong> capacity
											<button type="button" class="close closeBtn" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</p>
										<p id="emptyNotice">There is no notification right now :)</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="card border-0 shadow-sm p-2 mb-4 bg-white rounded" style="width: 100%;">
									<div class="card-body pt-2">
										<h6 class="card-title mb-4" style="display:inline-block;">Today's trends</h6>
										<div class="dropdown float-right">
												<a class="btn btn-sm dropdown-toggle py-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													BYOD
												</a>
											
												<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
													<a class="dropdown-item" href="#">BYOD</a>
													<a class="dropdown-item" href="#">Leisure Area</a>
												</div>
											</div>
										<canvas id="dashTrendChart"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				

				<!-- <div class="container content-wrapper">
					<div class="row" id="showRoom"></div>
				</div> -->
    	</div>
		</div>
	</div>






































	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title mx-auto" id="exampleModalLongTitle">Notifications</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="card text-white bg-success mb-3 mx-4 w-100">
								<div class="card-body">
									<div class="row">
										<div class="col-md-11">
												<p class="card-text"><strong>Info</strong>: Open Lab has dropped back to low capacity.</p>
										</div>
										<div class="col-md-1 deleteNotice"><i class="fa fa-times float-right text-light deleteNoticeIcon"></i></div>
									</div>
								</div>
							</div>
							<div class="card text-white bg-warning mb-3 mx-4 w-100">
								<div class="card-body">
									<div class="row">
										<div class="col-md-11">
												<p class="card-text"><strong>Warning</strong>: BYOD has reached moderate capacity.</p>
										</div>
										<div class="col-md-1 deleteNotice"><i class="fa fa-times float-right text-light deleteNoticeIcon"></i></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
								<div class="card text-white bg-danger mb-3 mx-4 w-100">
									<div class="card-body">
										<div class="row">
											<div class="col-md-11">
													<p class="card-text text-left"><strong>Danger</strong>: Leisure Area has reached full capacity.</p>
											</div>
											<div class="col-md-1 deleteNotice"><i class="fa fa-times float-right text-light deleteNoticeIcon"></i></div>
										</div>
									</div>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title mx-auto" id="exampleModalLongTitle">Add Room</h5>
					</div>
					<div class="modal-body">
						<div class="form-group shakeInput">
							<label for="room-name">Room name:</label>
							<input type="text" class="form-control" id="room-name" name="room-name" required="">
						</div>
						<div id="alertText"></div>
					</div>
					<div class="modal-footer mx-right">
						<button class="btn btn-primary" type="button" onclick="addRoom()">Submit</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
  	<!-- javascript -->
	<script src="js/script.js" type="text/javascript"></script>
</body>
</html>