<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <!-- Boostrap Toggle Plugins -->
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <!-- font-awesome library -->
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
  <!-- stylesheet -->
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
  <!-- embed font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- javascript -->
  <script src="../js/script.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.css" />
  <!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" type="text/javascript"></script>-->
</head>

<body onload="showUserTable(); tablePagination();">
  <div class="container-fluid">
    <div class="row nav-wrapper align-self-center">
      <div class="col-md-2 col-sm-12 col-xs-12 left-menu-1">
        <a href="/dashboard"><img src="images/logo.jpeg" class="img-fluid logo  mt-3" alt="logo"></a>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 right-menu-1 mt-3 align-self-center">
        <div class="row">
          <div class="col-md-2 col-page-title">
            <p class="pageTitle pt-1">Users</p>
          </div>
          <div class="col-md-8"></div>
          <div class="col-md-2 col-sm-4 col-xs-4">
            <p class="right-menu-icons float-right mr-4">
              <a href="#" data-placement="top" data-toggle="tooltip" title="Log Out"><i class="fa fa-sign-out" id="logoutBtn" onclick="onLogout()"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row main-wrapper">
      <div class="col-md-2 col-sm-12 col-xs-12 left-menu-2">
        <nav class="navbar text-center" id="myNavbar">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link active disabled" class="nav-link">Users</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 c right-menu-2">
        <div class="container-fluid m-2">
          <div class="panel-group" id="accordion2">
            <div class="card mt-3" id="userCard">
              <div class="card-header" id="subheadingOne" data-toggle="collapse" data-target="#subcollapseOne">
                <h5 class="mb-0">
                  <script>
                    $(function() {
                      function toggleOpen(e) {
                        $(e.target).prev('.card-header').find(".expand-icon").text("remove_circle");
                      }

                      function toggleClose(e) {
                        $(e.target).prev('.card-header').find(".expand-icon").text("add_circle");
                      }
                      $('.panel-group').on('hidden.bs.collapse', toggleClose);
                      $('.panel-group').on('shown.bs.collapse', toggleOpen);
                    });
                  </script>
                  <button class="btn btn-link pa-0" data-toggle="collapse" data-target="#subcollapseOne" aria-expanded="true" aria-controls="collapseOne" id="userCardAddButton">
                    <i class="expand-icon material-icons">add_circle</i>Add new user </button>
                </h5>
              </div>
              <div id="subcollapseOne" class="collapse" aria-labelledby="subheadingOne" data-parent="#accordion2">							
                <div class="card-body">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="userAlert"></div>
                  <div class="col-md-12 mx-auto">
                    <div class="myform form">
                        <div class="spinner-border align-items-center align-self-center" role="status" id="spinner_adduser">
                            <span class="sr-only">Loading...</span>
                        </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <input type="text" name="name" class="form-control my-input" id="uname" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="email" name="email" class="form-control my-input" id="uemail" placeholder="Email" id="uemail">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <input type="password" name="password" class="form-control my-input" placeholder="Password" id="upsd" onfocus = "showHint()">
                          <p id ="showPasswordHint"></p>
                        </div>
                        <div class="form-group col-md-6">
                          <input type="password" name="confirm_password" class="form-control my-input" placeholder="Confirm Password" id="cupsd" onfocus = "showcpsdHint()">
                          <p id ="showConfirmPasswordHint"></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <div class="styled-select">
                            <select id="role">
                              <option disabled selected value="Pick a Role">Pick a Role</option>
                              <option value="manager">Manager</option>
                              <option value="staff">Staff</option>
                            </select>
                            <span class="fa fa-sort-desc"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <button type="button" id="cancel" class="float-right btn btn-danger send-button tx-tfm ml-1" onclick="cancel()">Clear</button>
                          <button type="button" id="add" class="float-right btn btn-success send-button tx-tfm" onclick="addUser()">Add</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
					
          <div class="spinner-border text-secondary" role="status" id="spinner">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="row mt-5">
						<div class="col-md-2">
							<h5 class="pageTitle pt-2 pl-5">User's list</h5>
						</div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <input type="text" id="searchInput" onkeyup="search()" placeholder="Search by name..."/>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 form-group">
              <div class="styled-select float-right">
                <select name="state" id="maxRows" class="dropdown">
                  <option selected value="5000">Show All</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                </select>
								<span class="fa fa-sort-desc"></span>
              </div>
            </div>
          </div>
          <div class="alert alert-dismissible fade show" role="alert" id="userEditAlert"></div>
          <div class="table-responsive text-center">
            <table class="table" id="userTable">
              <thead id="userTableHeader" class="thead-light">
                <tr>
                  <th id="userID">UserID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <!--<th>Edit</th>-->
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody id="showUser">
              </tbody>
            </table>
            <div class="pagination-container">
              <nav>
                <ul class="pagination">
                </ul>
              </nav>
            </div>
          </div>
<!--
          <div class="modal" id="myModal">
            <div class="modal-content">
              <div class="alert alert-danger alert-dismissible fade show" role="alert" id="userEditModalAlert"></div>
              <div class="modal-body">
                <div class="row mt-4">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <select id="edit_role">
                      <option disabled selected value="Pick a Role">Pick a Role</option>
                      <option value="manager">Manager</option>
                      <option value="staff">Staff</option>
                    </select>
                  </div>
                  <div id="id"></div>
                  <div id="previousRole"></div>
                  <div class="row mt-5" style="float: right">
                    <div class="col-md-4 col-sm-4 col-xs-4 mr-4">
                      <button class="btn btn-success" id="updatebtn" onclick="updateUser()">Update</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
-->
        </div>
      </div>
    </div>
  </div>
  <!-- This one must put at the bottom to ensure the bootstrap toggle works as intended -->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</body>

</html>