html {
  overflow-x: hidden;
}

/*Start login.html*/
#loginForm {
    margin-top: 120px;
}

#userEmail {
    margin-top: 40px;
}

/*
#modalEmail {
  display: none; /* Hidden by default */
  /* position: fixed; Stay in place */
  /* z-index: 1; Sit on top */
  /* padding-top: 150px; Location of the box */
  /* padding-left: 350px; Location of the box */
  /* padding-right: 250px; Location of the box */
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; Full width */
  /* height: 100%; Full height */
  /* overflow: auto; Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */

/* .modal-header, .modal-content, #forgetAlert {
    width: 600px;
} */

#loginSubmitbtn {
    float: right;
}

#spinner_login{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 45%;
    left: 45%;
    background-size: 80%;
}

#spinner_forget{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 35%;
    left: 45%;
    background-size: 80%;
}

#loginAlert {
    margin-top: 30px;
    display: none;
}
/*End login.html */

/* START dashboard.html */

hr {
	border-top: 2px solid #000;
}

.left-menu-1 {
	background-color: #231F20;
}

.left-menu-2{
	background-color: #231F20;
	padding-top:1.5%;
}

.left-menu-2 ul{
	width:100%;
}

.right-menu-1{
	background-color: #FFFFFD;
	padding: 1.5% 1% 2% 1%;

}

.right-menu-2 {
	background-color: rgb(243, 243, 243);
}

.right-menu-icons{
	font-size:1.5em;
}

.right-menu-icons a{
	margin:0 10% 0 10%;
}

.nav-wrapper {
	text-align: center;
	height: 10vh;
}

.logo {
	width:50%;
	margin:0 8% 0 4%;
}

#myNavbar ul li a{
	color:white;
	font-family: "Roboto", "Helvetica Neue", "Arial", "sans-serif";
	font-weight: 400;
	text-transform:uppercase;
	padding:6% 0 6% 0;
}

#myNavbar ul li a:hover{
	background-color:#473f41;
	opacity: 0.5;
	color:white;
	font-family: "Roboto", "Helvetica Neue", "Arial", "sans-serif";
	font-weight: bold;
	border-radius: 3px;
}

#myNavbar ul li .active{
	background-color:#eeecec;
	opacity:0.5;
	color:black;
	font-family: "Roboto", "Helvetica Neue", "Arial", "sans-serif";
	font-weight: bold;
	border-radius: 5px;
}

.searchRoom{
	width:40%;

}

.searchRoom:focus{
	border:2px solid red;
	outline: none;
}

.fa{
	color:#231F20;
}

.main-wrapper{
	height:90vh;
}

.pageTitle{
	font-family: "Roboto", "Helvetica Neue", "Arial", "sans-serif";
	font-size: 1.3em;
	font-weight: 600;
}

.content-wrapper{
	margin-top: 2%;
}

.content-wrapper .img-thumbnail{
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
	margin-top:4%;
	text-align: center;
	width:500px;
	height:200px;
}

.add-icon{
	width: 15%;
	margin: 70px 0 70px 0;
}

.chart-wrapper{
	margin-top: 2%;
}

.chart-wrapper .img-thumbnail{
	text-align: center;
	margin: 1%;
	
}

.content-wrapper a div{
	text-decoration: none;
	color:black;
	transition: transform .5s ease;

}

.content-wrapper a:hover{
	text-decoration: none;
	opacity: 0.5;
	color:black;
}

.content-wrapper a div:hover{
	text-decoration: none;
	opacity:0.5;
	color:black;
	transform: scale(1.05);	
}

.col-page-title{
	text-align: center;
}

.thumbnail h4{
	font-family: "Verdana", "Arial", "sans-serif";
	font-weight: bold;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
/* END dashboard.html */

/* Start user.html*/
.star {
   color: red;
}

/* .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
} */


/* .modal { */
  /* display: none; Hidden by default */
  /* position: fixed; Stay in place */
  /* z-index: 1; Sit on top */
  /* padding-top: 150px; Location of the box */
  /* padding-left: 420px; Location of the box */
  /* padding-right: 100px; Location of the box */
  /* left: 0;
  top: 0; */
  /* width: 100%; Full width */
  /* height: 100%; Full height */
  /* overflow: auto; Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */

#reportrange{
	background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#spinner_adduser{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 10%;
    left: 45%;
    background-size: 80%;
}

#spinner{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 50%;
    left: 45%;
    background-size: 80%;
}

#rowDesc {
	font-size:1.5em;
	margin:0 0 2% 0;
}

#maxRows {
	font-size:1em;
	margin:0 0 2% 0;
}

.select{
  margin-top:4%;
}

#userID {
   display: none;
}
/* End user.html*/


/* Start password_reset.html*/
#spinner_reset{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 25%;
    left: 40%;
    background-size: 80%;
}

#resetAlert {
    margin-top: 30px;
}
/* End password_reset.html*/


div.img-thumbnail:hover {
    cursor: pointer;
}

sup#notificationAlert {
    display: none;
}

i#up-icon {
    display: none;
}

div.deleteNotice {
  display: inline-flex; /* make element size relative to content */
  align-items: center; /* vertical alignment of items */
  line-height: 40px; /* vertically size by height, line-height or padding */
  padding: 0px 10px; /* horizontal with padding-l/r */
}

i.deleteNoticeIcon:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 1.5s;
	cursor: pointer;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
	}
}

#headingUser:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to right, #B066FE, #63E2FF); */
  background: linear-gradient(to left, #cfdaf5 , #dce6e0);

}

/* .carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
} */

#insightItem {
  background-image: linear-gradient(to left, #7cf2fa, #6eaafd);
}

#scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
}
  
.roomCard {
  cursor: pointer;
}

.closeBtn {
  outline: #FFFFFF !important;
}

#clearNotice {
  cursor: pointer;
}

.roomCard:after {    
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: linear-gradient(to right, #B066FE, #63E2FF);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.roomCard:hover:after { 
  width: 100%; 
  left: 0; 
}

#emptyNotice {
  display: none;
}

.skeleton-wrapper {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 10px 15px;
}

.skeleton-wrapper-inner {
  height: 150px;
  padding: 15px;
  position: relative;
}

.skeleton-wrapper-body div {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderSkeleton;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(linear, left center, right center, from(#f6f7f8), color-stop(.2, #edeef1), color-stop(.4, #f6f7f8), to(#f6f7f8));
  background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  height: 104px;
  position: relative;
}

.skeleton-wrapper-body {
  -webkit-animation-name: skeletonAnimate;
  background-image: -webkit-gradient(linear, center top, center bottom, from(deg), color-stop(0, red), color-stop(.15, orange), color-stop(.3, yellow), color-stop(.45, green), color-stop(.6, blue), color-stop(.75, indigo), color-stop(.8, violet), to(red));
  background-image: -webkit-linear-gradient(135deg, red 0%, orange 15%, yellow 30%, green 45%, blue 60%,indigo 75%, violet 80%, red 100%);
  background-repeat: repeat;
  background-size: 50% auto;
}

.skeleton-wrapper-body div {
  position: absolute;
  right: 15px;
  left: 15px;
  top: 15px;
}

div.skeleton-author {
  top: 10px;
  height: 40px;
  left: 90px;
  width: 200px;
}

div.skeleton-content-1,
div.skeleton-content-2,
div.skeleton-content-3 {
  height: 15px;
}
div.skeleton-content-1 {
  left: 100px;
  right: 100px;
  top: 70px;
}
div.skeleton-content-2 {
  left: 120px;
  right: 120px;
  top: 95px;
}
div.skeleton-content-3 {
  left: 140px;
  right: 140px;
  top: 120px;
}

@-webkit-keyframes placeholderSkeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes skeletonAnimate {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}

.roomData {
  font-weight: 400;
}